{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel HRM Documentation",
        "description": "L5 Swagger OpenApi description for hrm project",
        "contact": {
            "email": "drrifatalashwad0@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://smartcollegeportal.com/dev-red-hrm/api",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/v1.0/register": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to store user",
                "description": "This method is to store user",
                "operationId": "z.unused",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_Name",
                                    "last_Name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "phone",
                                    "address_line_1",
                                    "address_line_2",
                                    "country",
                                    "city",
                                    "postcode"
                                ],
                                "properties": {
                                    "first_Name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Rifat"
                                    },
                                    "last_Name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Al"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "rifat@g.c"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "12345678"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "12345678"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "01771034383"
                                    },
                                    "address_line_1": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "dhaka"
                                    },
                                    "address_line_2": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "dinajpur"
                                    },
                                    "country": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "bangladesh"
                                    },
                                    "city": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "dhaka"
                                    },
                                    "postcode": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "1207"
                                    },
                                    "lat": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "1207"
                                    },
                                    "long": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "1207"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to login user",
                "description": "This method is to login user",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "asjadtariq@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "12345678@We"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2.0/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to login user",
                "description": "This method is to login user",
                "operationId": "loginV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "asjadtariq@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "12345678@We"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/logout": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to logout user",
                "description": "This method is to logout user",
                "operationId": "logout",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/token-regenerate": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to regenerate Token",
                "description": "This method is to regenerate Token",
                "operationId": "regenerateToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "site_redirect_token"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "site_redirect_token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "12345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/forgetpassword": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to store token",
                "description": "This method is to store token",
                "operationId": "storeToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@g.c"
                                    },
                                    "client_site": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "client"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/v2.0/forgetpassword": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to store token",
                "description": "This method is to store token",
                "operationId": "storeTokenV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@g.c"
                                    },
                                    "client_site": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "client"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/resend-email-verify-mail": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to resend email verify mail",
                "description": "This method is to resend email verify mail",
                "operationId": "resendEmailVerifyToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "test@g.c"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/forgetpassword/reset/{token}": {
            "patch": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to change password",
                "description": "This method is to change password",
                "operationId": "changePasswordByToken",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "description": "token",
                        "required": true,
                        "example": "1"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "aaaaaaaa"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/user": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to get  user ",
                "description": "This method is to get user",
                "operationId": "getUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2.0/user": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "This method is to get  user ",
                "description": "This method is to get user",
                "operationId": "getUserV2",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/payrolls": {
            "get": {
                "tags": [
                    "administrator.payrolls"
                ],
                "summary": "This method is to get payrolls  ",
                "description": "This method is to get payrolls ",
                "operationId": "getPayrolls",
                "parameters": [
                    {
                        "name": "payrun_id",
                        "in": "query",
                        "description": "payrun_id",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "user_ids",
                        "required": true,
                        "example": "1,2,3"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "per_page",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "is_active",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "order_by",
                        "required": true,
                        "example": "ASC"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "administrator.payrolls"
                ],
                "summary": "This method is to store payroll",
                "description": "This method is to store payrolls",
                "operationId": "createPayroll",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "payrun_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "users": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    },
                                    "start_date": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "10-02-2024"
                                    },
                                    "end_date": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "25-02-2024"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/payrolls/report": {
            "get": {
                "tags": [
                    "administrator.payrolls"
                ],
                "summary": "This method is to get payrolls  report ",
                "description": "This method is to get payrolls report ",
                "operationId": "getPayrollsReport",
                "parameters": [
                    {
                        "name": "payrun_id",
                        "in": "query",
                        "description": "payrun_id",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "user_ids",
                        "required": true,
                        "example": "1,2,3"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "per_page",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "is_active",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "order_by",
                        "required": true,
                        "example": "ASC"
                    },
                    {
                        "name": "months",
                        "in": "query",
                        "description": "months",
                        "required": true,
                        "example": "12"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/pending-payroll-users": {
            "get": {
                "tags": [
                    "administrator.payrolls"
                ],
                "summary": "This method is to get payrolls  ",
                "description": "This method is to get payrolls ",
                "operationId": "getPendingPayrollUsers",
                "parameters": [
                    {
                        "name": "payrun_id",
                        "in": "query",
                        "description": "payrun_id",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "user_ids",
                        "required": true,
                        "example": "1,2,3"
                    },
                    {
                        "name": "departments",
                        "in": "query",
                        "description": "departments",
                        "required": true,
                        "example": "1,2,3"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "per_page",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "is_active",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "order_by",
                        "required": true,
                        "example": "ASC"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/payroll-list": {
            "get": {
                "tags": [
                    "administrator.payrolls"
                ],
                "summary": "This method is to get payrolls  ",
                "description": "This method is to get payrolls ",
                "operationId": "getPayrollList",
                "parameters": [
                    {
                        "name": "payrun_id",
                        "in": "query",
                        "description": "payrun_id",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "user_ids",
                        "required": true,
                        "example": "1,2,3"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "per_page",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "is_active",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "order_by",
                        "required": true,
                        "example": "ASC"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/payruns": {
            "get": {
                "tags": [
                    "administrator.payruns"
                ],
                "summary": "This method is to get payruns  ",
                "description": "This method is to get payruns ",
                "operationId": "getPayruns",
                "parameters": [
                    {
                        "name": "response_type",
                        "in": "query",
                        "description": "response_type: in pdf,csv,json",
                        "required": true,
                        "example": "json"
                    },
                    {
                        "name": "file_name",
                        "in": "query",
                        "description": "file_name",
                        "required": true,
                        "example": "employee"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "per_page",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "period",
                        "required": true,
                        "example": "search_key"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "date",
                        "required": true,
                        "example": "date"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "type",
                        "required": true,
                        "example": "type"
                    },
                    {
                        "name": "is_considering_overtime",
                        "in": "query",
                        "description": "is_considering_overtime",
                        "required": true,
                        "example": "is_considering_overtime"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "is_active",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "order_by",
                        "required": true,
                        "example": "ASC"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "administrator.payruns"
                ],
                "summary": "This method is to store payrun",
                "description": "This method is to store payrun",
                "operationId": "createPayrun",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "period_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "weekly"
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-31"
                                    },
                                    "consider_type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "hour"
                                    },
                                    "consider_overtime": {
                                        "type": "boolean",
                                        "format": "boolean",
                                        "example": true
                                    },
                                    "notes": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Some notes"
                                    },
                                    "departments": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    },
                                    "users": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/payruns/{id}": {
            "get": {
                "tags": [
                    "administrator.payruns"
                ],
                "summary": "This method is to get payrun by id",
                "description": "This method is to get payrun by id",
                "operationId": "getPayrunById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "example": "6"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/product-categories": {
            "post": {
                "tags": [
                    "shop_section.product_category_management"
                ],
                "summary": "This method is to store product category",
                "description": "This method is to store product category",
                "operationId": "createProductCategory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "icon",
                                    "description"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "car"
                                    },
                                    "icon": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "fa fa tui halua kha"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "car"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/product-categories/{perPage}": {
            "get": {
                "tags": [
                    "shop_section.product_category_management"
                ],
                "summary": "This method is to get  Product Categories ",
                "description": "This method is to get Product Categories",
                "operationId": "getProductCategories",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "path",
                        "description": "perPage",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/product-categories/single/get/{id}": {
            "get": {
                "tags": [
                    "shop_section.product_category_management"
                ],
                "summary": "This method is to get Product Category by id",
                "description": "This method is to get Product Category by id",
                "operationId": "getProductCategoryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "example": "6"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/product-categories/get/all": {
            "get": {
                "tags": [
                    "basics"
                ],
                "summary": "This method is to get all product categories ",
                "description": "This method is to get all product categories",
                "operationId": "getAllProductCategory",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
                        "description": "search_key",
                        "required": true,
                        "example": "search_key"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/products": {
            "post": {
                "tags": [
                    "shop_section.product_management"
                ],
                "summary": "This method is to store product",
                "description": "This method is to store product",
                "operationId": "createProduct",
                "requestBody": {
                    "description": " product type be single or variable",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "name",
                                    "description",
                                    "shop_id",
                                    "sku",
                                    "image",
                                    "images",
                                    "sku",
                                    "price",
                                    "quantity",
                                    "product_variations",
                                    "product_category_id"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "single"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "gear"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "car description"
                                    },
                                    "shop_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "product_category_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "sku": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "car 123"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "/abcd/efgh"
                                    },
                                    "images": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            "/f.png",
                                            "/g.jpeg"
                                        ]
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "10"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "20"
                                    },
                                    "product_variations": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            {
                                                "automobile_make_id": 1,
                                                "price": 10,
                                                "quantity": 30
                                            },
                                            {
                                                "automobile_make_id": 2,
                                                "price": 20,
                                                "quantity": 30
                                            }
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/products/link-product-to-shop": {
            "patch": {
                "tags": [
                    "shop_section.product_management"
                ],
                "summary": "This method is to link Product To Shop ",
                "description": "This method is to link Product To Shop",
                "operationId": "linkProductToShop",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "description",
                                    "shop_id",
                                    "sku",
                                    "image",
                                    "images",
                                    "sku",
                                    "price",
                                    "quantity",
                                    "product_variations",
                                    "product_category_id"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "single"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "gear"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "car description"
                                    },
                                    "shop_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "product_category_id": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "/abcd/efgh"
                                    },
                                    "images": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            "/f.png",
                                            "/g.jpeg"
                                        ]
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "10"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "20"
                                    },
                                    "product_variations": {
                                        "type": "string",
                                        "format": "array",
                                        "example": [
                                            {
                                                "automobile_make_id": 1,
                                                "price": 10,
                                                "quantity": 30
                                            },
                                            {
                                                "automobile_make_id": 2,
                                                "price": 20,
                                                "quantity": 30
                                            },
                                            {
                                                "automobile_make_id": 3,
                                                "price": 30,
                                                "quantity": 30
                                            }
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocesseble Content",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "not found",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1.0/products/{perPage}": {
            "get": {
                "tags": [
                    "shop_section.product_management"
                ],
                "summary": "This method is to get  Product  ",
                "description": "This method is to get Product ",
                "operationId": "getProducts",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "path",
                        "description": "perPage",
                        "required": true,
                        "example": "6"
                    },
                    {
                        "name": "product_category_id",
                        "in": "query",
                        "description": "product_category_id",
                        "required": true,
                        "example": "1"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "example": "2019-06-29"
                    },
                    {
                        "name": "search_key",
                        "in": "query",
[...]
